{% extends 'account/base.html' %} {% block content %}
<form method="post" style="max-width: 500px; margin: 0 auto; display: flex; flex-direction: column; gap: 10px">
  {% csrf_token %}
  <h2>Personal Details</h2>
  <div style="margin-bottom: 10px">{{ form.as_table }}</div>
  <h2>10th Score</h2>
  {{ tenth_formset.management_form }} {% for form in tenth_formset %}
  <div style="margin-bottom: 10px">{{ form.as_table }}</div>
  {% endfor %}
  <h2>10+2 Score</h2>
  {{ twelfth_formset.management_form }} {% for form in twelfth_formset %}
  <div style="margin-bottom: 10px">{{ form.as_table }}</div>
  {% endfor %}
  <button type="submit">Save</button>
</form>
{% endblock %}
