{% extends 'account/base.html' %} {% block content %}
<style>
  label {
    display: block;
    width: 100%;
    max-width: 200px;
  }
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    max-width: 300px;
  }
  button[type="submit"] {
    width: 100px; /* Adjust as needed */
    transition: background-color 0.3s ease;
  }
  button[type="submit"]:hover {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
  }
</style>
<form method="post" style="max-width: 500px; margin: 0 auto; display: flex; flex-direction: column; gap: 10px">
  {% csrf_token %} {% messages %} button[type="submit"] {

  <h2>Personal Details</h2>
  <div style="margin-bottom: 10px">{{ form.as_p }}</div>
  <h2>10th Score</h2>
  {{ tenth_formset.management_form }} {% for form in tenth_formset %}
  <div style="margin-bottom: 10px">{{ form.as_p }}</div>
  {% endfor %}
  <h2>10+2 Score</h2>
  {{ twelfth_formset.management_form }} {% for form in twelfth_formset %}
  <div style="margin-bottom: 10px">{{ form.as_p }}</div>
  {% endfor %}
  <button type="submit">Save</button>
</form>
{% endblock %}
