{% extends 'account/base.html' %} {% block content %}
<style>
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #edf2fb;
  }
  .table {
    border: 1px solid #dee2e6;
  }
  td {
    padding: 5px;
  }
</style>

<div class="container mt-5">
  <h2 class="text-center mb-5">Student Rankings</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr align="center">
        <th>Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
        <th colspan="5">10<sup>th</sup></th>
        <th colspan="5">12<sup>th</sup></th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th scope="col">Math</th>
        <th scope="col">Science</th>
        <th scope="col">English</th>
        <th scope="col">Hindi</th>
        <th scope="col">S.sc.</th>
        <th scope="col">Physics</th>
        <th scope="col">Chemistry</th>
        <th scope="col">Math</th>
        <th scope="col">English</th>
        <th scope="col">Other</th>
      </tr>
    </thead>

    <tbody>
      {% for student in students %}
      <tr padding="5px">
        <td>{{ student.rank }}</td>
        <td>{{ student.first_name }} {{ student.last_name }}</td>
        <td>{{ student.total_score }}</td>
        <td>{{ student.tenthgrade_math }}</td>
        <td>{{ student.tenthgrade_science }}</td>
        <td>{{ student.tenthgrade_english }}</td>
        <td>{{ student.tenthgrade_hindi }}</td>
        <td>{{ student.tenthgrade_social_science }}</td>
        <td>{{ student.twelfthgrade_physics }}</td>
        <td>{{ student.twelfthgrade_chemistry }}</td>
        <td>{{ student.twelfthgrade_math }}</td>
        <td>{{ student.twelfthgrade_english }}</td>
        <td>{{ student.twelfthgrade_other }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
